name: ci

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]

    steps:
    - uses: actions/checkout@v4

    - uses: astral-sh/setup-uv@v5
      with:
        python-version: "3.10"

    - name: Install
      run: |
        uv sync

    - name: Linter
      run: |
        make lint
      # `import pyglet` crashes on ubuntu-latest due to missing X window system
      if: matrix.os == 'macos-latest'
